<%= form_for @task do |f| %>
  <%= f.hidden_field :project_id %>
  <%= f.error_messages %>
  <p>
    <%= f.label 'New Answer: ' %>
    <%= f.text_field :name %>
  </p>
<!--
  <p>
    <%= f.label 'Hash Tag' %><br />
    <%= f.date_select :hash_tag %>
  </p>
-->
  <p><%= f.submit 'Create Answer' %></p>
<% end %>
