<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @history.project_id %>
</p>

<p>
  <b>Task:</b>
  <%= @history.task_id %>
</p>


<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
