<%= form_for @project do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
