<!DOCTYPE html>
<html>
  <head>
    <title>Quick Question</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'jquery', 'application' %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "http://www.google.com/jsapi" %>
  <%= javascript_include_tag 'rails' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
 
  <script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);
  
    function drawChart() {
      // Everything is loaded. Lets draw our chart...
      //alert("finished loading");
    }
    

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2677869-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
   
    
  </head>
  <body>
    <div class="header">
     Quick Question!<span class="headersmall"> alpha<br/>
     If you are proud of your alpha release, you are releasing your product too late!
     </span>
    </div>
    <div id="container">
      <div id="user_nav">
        <div>
        <%= link_to 'Home', root_path() %>
        </div>
        <% if user_signed_in? %>
          <%= link_to 'Your Questions', projects_path() %><br />
        <% end %>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
    
    <div class="footer">
     <%= link_to 'Benerino.com', 'http://www.benerino.com' %> :: 
     <% if user_signed_in? %>
        Signed in as <%= current_user.email %> :: Not you? <%= link_to "Sign out", destroy_user_session_path %> 
     <% else %>
        <%= link_to "Sign In", authentications_path %>
     <% end %>
    </div>
  </body>
</html>
